body {
    background-image: url('../assets/img/space.jpg');
}


/* container page */

.d-flex {
    display: flex;
}

.d-flex-column {
    flex-direction: column;
}

.container {
    box-shadow: 0 0 8px 3px #ffffff;
    background: #CCC;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 80%;
    width: 80%;
    text-align: center;
    background-color: rgba(221, 133, 32, 0);
    margin-bottom: 160px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.textCuestion {
    color: rgb(221, 202, 32);
    margin-top: 50px;
    font-size: 56px;
}


/* button star */

.startButton {
    background-color: rgb(221, 202, 32);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    width: 30%;
}


/* design input */

.inputstar {
    max-width: 250px;
    padding: 15px 32px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    display: inline-flex;
    margin: 4px auto;
    width: 30%;
    background-color: blanchedalmond;
}


/* savenick */

.saveNick {
    max-width: 250px;
    padding: 15px 32px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    display: inline-flex;
    margin: 4px auto;
    width: 20%;
    background-color: rgb(221, 202, 32);
    cursor: pointer;
    /* 
    text-decoration: none;
    margin: 4px auto;
    
    border: 1px solid;
    border-radius: 5px;
    width: 20%;
    float: right; */
}


/* design form */

.container_form {
    background: #CCC;
    /* display: flex; */
    flex-direction: column;
    margin: auto;
    max-width: 100%;
    width: 1000px;
    height: 455px;
    text-align: center;
    background-color: rgba(221, 133, 32, 0);
    padding: 20px;
    border: 1px solid #1d4adf;
    box-shadow: 0 0 8px 3px #ffffff;
}

.title {
    text-align: center;
    padding-top: 20px;
    font-size: 36px;
    text-transform: uppercase;
    color: #1d4adf;
}

.questionTex {
    padding: 20px;
    background: white;
    font-weight: bold;
    font-size: 22px;
    border-radius: 20px;
    margin: 10px auto;
    text-align: center;
}

.option {
    width: 100%;
    display: inline-block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 20px;
    text-align: left;
}

.option:hover {
    background: #1d4adf;
    color: #f6f6f6;
}

.option input:checked .option {
    background: #08038C;
    color: rgb(155, 24, 24);
}

.next_btn {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.5);
    width: 20%;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    margin: 10px;
}

.next_btn:hover {
    background: #1d4adf;
    color: #f6f6f6;
}

.result {
    height: 100px;
    text-align: center;
    font-size: 75px;
}

.quiz-form {
    background: #CCC;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 90%;
    width: 90%;
    text-align: left;
    background-color: rgba(221, 133, 32, 0);
    position: relative;
}


/* next para la respuestas */

.PrevQuestion {
    background-color: rgb(221, 202, 32);
    color: white;
    text-align: center;
    text-decoration: none;
    max-width: 100%;
    width: 25%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
}

.NextQuestion {
    float: right;
    background-color: #4CAF50;
    color: white;
    background-color: rgb(221, 202, 32);
    text-align: center;
    text-decoration: none;
    max-width: 100%;
    width: 25%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
}

span {
    font-family: cursive;
}